body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
}

h3, h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;
    font-size: 20px;
    color: #fff;
}

h1 {
    margin-left: 50px;
    letter-spacing: 3px;
    font-size: 20px;
    color: #fff;
}

h5 {
    font-size: 30px;
}

.container {
    padding: 80px 120px;
}

/*.person {*/
/*    border: 10px solid transparent;*/
/*    margin-bottom: 25px;*/
/*    width: 80%;*/
/*    height: 80%;*/
/*    opacity: 0.7;*/
/*    background: #000;*/
/*}*/

.person:hover {
    border-color: #f1f1f1;
}

.carousel-inner img {
    /*-webkit-filter: grayscale(90%);*/
    /*filter: grayscale(90%); !* make all photos black and white *!*/
    width: 70%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

.bg-1 {
    /*background: #81dbb3;*/
    background: #3FB488;
    color: #bdbdbd;
}

.bg-1 h1 h2 h3 h4 h5 {
    color: #fff;
}



.bg-1 p {
    font-style: italic;
}

.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail p {
    margin-top: 15px;
    color: #555;
}

.btn {
    /*padding: 10px 20px;*/
    background: #3FB488;
    color: #fff;
    border-radius: 5px;
    transition: .2s;
    height: 35px;
}

.btn:hover, .btn:focus {
    /*border: 1px solid #333;*/
    background-color: #68b391;
    color: #fff;
}

.modal-header, h4, .close {
    background: #3FB488;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}

.modal-header, .modal-body {
    padding: 40px 50px;
}

.nav-tabs li a {
    color: #777;
}

#googleMap {
    width: 100%;
    height: 400px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background: #3FB488;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 3px;
    opacity: 0.9;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
    font-size: 15px;
}

.navbar-brand {
    font-size: 20px !important;
    font-weight: bold !important;
}

.navbar-brand:hover {
    color: #000 !important;
    font-weight: bold !important;
    font-style: italic;
}

.navbar-nav li a:hover {
    color: #000 !important;
    /*color: #777 !important;*/
    font-weight: bold !important;
    font-style: italic;
}

.navbar-nav li.active a {
    color: #fff !important;
    background: #3FB488;
!important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.open .dropdown-toggle {
    color: #fff !important;
    background: #3FB488 !important;
}

.dropdown-menu li a {
    color: #000 !important;
}

.dropdown-menu li a:hover {
    background-color: red !important;
    color: #fff !important;
}

#loginDropdown li, a {
    text-align: center;
}

#loginDropdown li a:hover {
    color: #fff;
}

footer {
    background: #3FB488;
    color: #f5f5f5;
    padding: 32px;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #000;
    text-decoration: none;
}

.form-control {
    border-radius: 5px;
}

textarea {
    resize: none;
}

/*.cateImg {*/
/*    -webkit-filter: grayscale(90%);*/
/*    filter: grayscale(90%); !* make all photos black and white *!*/
/*}*/

.cateImg:hover {
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
    /*opacity: 0.7;*/
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); /* make all photos black and white */
}

.