<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>TIFFANY</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="javascripts/controller.js"></script>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">TIFFANY</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a style="margin-right: -40%;"><span class="glyphicon glyphicon-search"></span></a></li>
                        <li><a><input type="text" id="eventSrchBox" placeholder="이벤트를 검색하세요."></a>
                    </li>
                    <li><a href="#">Sell</a></li>
                    <li><a href="http://localhost:3000/eventRegist" id="eventRegistBtn">Regist</a></li>
                    <li><a href="#">My Page</a></li>
                    <%
                        if(loginState) {
                    %>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= loggedInId %>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li style="text-align: center;"><%= loggedInUserGroup %></li>
                            <li><a href="http://localhost:3000/myInfoUpdate" role="button" id="myInfoUpdateBtn">내 정보 수정</a></li>
                            <li><a href="#" role="button" id="logoutBtn">Logout</a></li>
                        </ul>
                    </li>
                    <%
                        } else {
                    %>
                    <li><a href="#" role="button" data-toggle="modal" data-target="#loginModal">Login</a></li>
                    <%
                        }
                    %>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4><span class="glyphicon glyphicon-lock"></span> LOGIN</h4>
                </div>
                <div class="modal-body">
                        <div class="form-group">
                            <label for="loginId">
                                <span class="glyphicon glyphicon-user"></span> ID
                            </label>
                            <input type="text" class="form-control" id="loginId" placeholder="Enter your ID">
                        </div>
                        <div class="form-group">
                            <label for="loginPw"><span class="glyphicon glyphicon-user"></span> Password</label>
                            <input type="password" class="form-control" id="loginPw" placeholder="Enter your password">
                        </div>
                        <button type="submit" class="btn btn-block" id="loginBtn">Login
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span> Cancel
                    </button>
                    <p>처음이신가요? <a href="#" data-toggle="modal" data-target="#signupModal">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Sign Up Modal-->
    <div class="modal fade" id="signupModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4><span class="glyphicon glyphicon-lock"></span> SIGN UP</h4>
                </div>
                <div class="modal-body">
                        <div class="form-group">
                            <label for="signupId">
                                <span class="glyphicon glyphicon-user"></span> ID
                            </label>
                            <input type="text" class="form-control" id="signupId" placeholder="Enter your ID">
                        </div>
                        <div class="form-group">
                            <label for="signupPw">
                                <span class="glyphicon glyphicon-user"></span> Password
                            </label>
                            <input type="password" class="form-control" id="signupPw" placeholder="Enter your password">
                        </div>
                        <div class="form-group">
                            <label for="userGroup">
                                <span class="glyphicon glyphicon-user"></span> 사용자그룹
                            </label><br>
                            <input type="radio" name="userGroup" value="1"> 관리자&nbsp;
                            <input type="radio" name="userGroup" value="2"> 이벤트 주최자&nbsp;
                            <input type="radio" name="userGroup" value="3"> 이벤트 참가자
                        </div>
                        <button type="submit" class="btn btn-block" id="signupBtn">Sign up
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Register Event -->
    <div class="container">
        <h3 class="text-center">이벤트 등록</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <!-- 이벤트 이름 -->
                    <div class="col-sm-12 form-group">
                        <input class="form-control" id="eventName" name="name" placeholder="이벤트 이름" type="text" required>
                    </div>

                    <!-- 이벤트 시작일자 -->
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="eventStart" name="email" placeholder="이벤트 시작" type="datetime-local" required>
                    </div>

                    <!-- 이벤트 종료일자 -->
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="eventEnd" name="email" placeholder="이벤트 종료" type="datetime-local" required>
                    </div>

                    <!-- 이벤트 장소 -->
                    <div class="col-sm-12 form-group">
                        <input class="form-control" id="eventPlace" name="name" placeholder="이벤트 장소" type="text" required>
                    </div>

                    <!-- 이벤트 지역 -->
                    <div class="col-sm-12 form-group">
                        <input class="form-control" id="eventArea" name="name" placeholder="이벤트 지역" type="text" required>
                    </div>

                    <!-- 티켓 발행 수량 -->
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="ticketIssueQty" name="name" placeholder="티켓 발행 수량" type="text" required>
                    </div>

                    <!-- 판매 원가 -->
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="saleOrgPrc" name="name" placeholder="판매 원가" type="text" required>
                    </div>

                    <!-- 티켓 상한가 -->
                    <div class="col-sm-12 form-group input-append spinner" data-trigger="spinner">
                        <input class="form-control" id="priceLimit" name="name" placeholder="상한가" type="text" value="1" data-rule="quantity">
                        <div class="add-on">
                            <a href="javascript:" class="spin-up" data-spin="up">
                                <i class="icon-sort-up"></i>
                            </a>
                            <a href="javascript:" class="spin-down" data-spin="down">
                                <i class="icon-sort-down"></i>
                            </a>
                        </div>
                    </div>

                    <!-- 이벤트 이미지 업로드 -->
                    <div class="col-sm-12 form-group">
                        <input id="fileInput" filestyle="" type="file" data-class-button="btn btn-default"
                               data-class-input="form-control" data-button-text="" data-icon-name="fa fa-upload"
                               class="form-control" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);">
                        <div class="bootstrap-filestyle input-group">
                            <input type="text" id="userfile" class="form-control" name="userfile" disabled="">
                            <span class="group-span-filestyle input-group-btn" tabindex="0">
                            <label for="fileInput" class="btn btn-default ">
                                <span class="glyphicon fa fa-upload"></span>
                            </label>
                        </span>
                        </div>
                    </div>
                </div>

                <!-- 이벤트 설명 -->
                <textarea class="form-control" id="eventDesc" name="comments" placeholder="이벤트 설명" rows="5"></textarea>

                <!-- 이벤트 등록 및 취소 -->
                <div class="row">
                    <div class="col-md-6 form-group">
                        <br>
                        <button class="btn pull-right" type="submit" id="eventRegistSubmitBtn">등록</button>
                    </div>
                    <div class="col-md-6 form-group">
                        <br>
                        <button class="btn pull-left" type="reset">취소</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="text-center">
        <a class="up-arrow" href="#" data-toggle="tooltip" title="TO TOP">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a><br><br>
        <p>Copyright 2019. Team TIFFANY. All rights reserved.</p>
    </footer>
</body>
</html>